body {
    background-color: rgb(199, 182, 224);
}


.titel {
    color: black;
    text-align: center;
    font-size: 123px;
}

.bodyimage {
    width: 500px;
    height: auto;
}

p {
    color: black;
}

img{
    height: 200px;
}

.img-fluid {
    width: 100%;
    object-fit: contain;
}

.bilder {
    display: block;
    width: 100%;
}

.flexbox {
    display: flex;
    gap:20px
}